In [1]:
# Fungsi untuk tim Bajigur Cloth adalah fungsi untuk dapat meng-ekstraksi Feature-Feature yang ada pada review yang diberikan oleh customer,
# Hal ini diperlukan untuk membantu fungsi selanjutnya yaitu fungsi recommender sehingga tim Bajigur Cloth mudah menyimpulkan apakah produk layak dijadikan sebagai produk rekomendasi selanjutnya

# Fungsi Feature Extraction

# Data yang digunakan sebagai contoh adalah data film
import pandas as pd
import io
from google.colab import files

# Load jika menggunakan google colab
# uploaded = files.upload()
# metadata = pd.read_csv(io.BytesIO(uploaded['movies_metadata.csv']))

# Load jika data berada di satu directory yang sama
metadata = pd.read_csv('movies_metadata.csv', low_memory=False)
metadata = metadata.sample(n=100, random_state=42)
metadata.head()

       adult belongs_to_collection   budget  ...  video vote_average vote_count
43526  False                   NaN        0  ...  False          5.8       55.0
6383   False                   NaN        0  ...  False          7.3        2.0
3154   False                   NaN  1000000  ...  False          6.9      162.0
10146  False                   NaN        0  ...  False          5.0       42.0
9531   False                   NaN        0  ...  False          6.4       27.0

[5 rows x 24 columns]

In [2]:
# Langkah awal adalah menghilang kata tidak bisa kita jadikan sebagai feature yaitu seperti (dan, yang , ...)
# Import fungsi yang sudah bisa kita pakai dari 
from sklearn.feature_extraction.text import TfidfVectorizer
# Jika bahasa inggris
tfidf = TfidfVectorizer(stop_words='english')

# Jika bahasa indonesia
# from Sastrawi.StopWordRemover.StopWordRemoverFactory import StopWordRemoverFactory
# tfidf = TfidfVectorizer(StopWordRemoverFactory().get_stop_words())

# Hilangkan semua nilai null
metadata['review'] = metadata['overview'].fillna('')

#Mulai 
tfidf_matrix = tfidf.fit_transform(metadata['overview'].values.astype('U'))

#Output
tfidf_matrix.shape

(100, 1776)

In [12]:
# Langkah selanjutnya adalah mengihutung kesamaan antar data dengan feature yang sudah kita data
from sklearn.metrics.pairwise import linear_kernel

# Menggunakan cosine similarity matrix
cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)

cosine_sim[:2]

array([[1.        , 0.        , 0.        , 0.        , 0.04380669,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.03304615, 0.        , 0.        , 0.02268336, 0.        ,
        0.07489186, 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.13727903, 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.03710582, 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.05224136,
        0.        , 0.        , 0.0337046 , 0.03815746, 0.        ,
        0.        , 0.01304552, 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.03286204, 0.        , 0.02181461, 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.02876377, 0.03612587, 0.02678942, 0.        , 0.02158305,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.01759663, 0.        ,
        0.        , 0.        , 0.        , 0.12169099, 0.        ,
        0.        , 0.        , 0.        , 0.03426348, 0.        ],
       [0.        , 1.        , 0.08472379, 0.02125813, 0.02110134,
        0.01654309, 0.0188424 , 0.        , 0.        , 0.01393728,
        0.05702206, 0.02882066, 0.        , 0.09062195, 0.02692688,
        0.        , 0.06613537, 0.        , 0.02687351, 0.        ,
        0.        , 0.03922384, 0.        , 0.        , 0.        ,
        0.01982893, 0.0238757 , 0.        , 0.        , 0.04101971,
        0.        , 0.01192466, 0.04577964, 0.        , 0.01207739,
        0.05840651, 0.        , 0.        , 0.        , 0.01037067,
        0.        , 0.01583249, 0.04432178, 0.05859049, 0.00630155,
        0.        , 0.        , 0.01528208, 0.        , 0.02107485,
        0.        , 0.        , 0.03640076, 0.01417699, 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.01355347,
        0.        , 0.03518992, 0.        , 0.        , 0.        ,
        0.1420099 , 0.        , 0.        , 0.        , 0.        ,
        0.02233607, 0.        , 0.03319159, 0.        , 0.06692224,
        0.        , 0.02793867, 0.        , 0.02978627, 0.01347094,
        0.        , 0.        , 0.00786384, 0.00782143, 0.        ,
        0.02341017, 0.02303657, 0.00871737, 0.02819425, 0.04757294,
        0.075601  , 0.        , 0.        , 0.        , 0.00769504,
        0.02394528, 0.02702163, 0.        , 0.0148861 , 0.01546996]])

In [31]:
# Setelah semuanya selesai, kita memerlukan nama-nama produk yang sudah direview, sementara ini kita contohkan dengan data movie

indices = pd.Series(metadata.index, index=metadata['title']).drop_duplicates()

indices[:10]

title
Small Crimes               43526
Up the Sandbox              6383
Bad Lieutenant              3154
Satan's Little Helper      10146
Sitcom                      9531
Nightlight                 33663
Guernsey                   36733
The Bells                   3396
Due cuori, una cappella    30019
Freeheld                   33321
dtype: int64

In [33]:
# Fungsi yang dibutuhkan oleh customer adalah fungsi recommender dimana customer mendapatkan beberapa saran produk berdasarkan history review yang ia pernah lakukan
# Input produk yang sudah pernah customer beli sehingga fungsi dapat membandingkan kesamaan dengan produk lain, sementara ini kita contohkan dengan data movie

# Contoh data "Small Crimes"

def get_recommendations(title, cosine_sim=cosine_sim):
#    idx = indices[title]
    sim_scores = list(enumerate(cosine_sim[0]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:11]
    movie_indices = [i[0] for i in sim_scores]

    # Return 10 produk yang paling mirip
    return metadata['title'].iloc[movie_indices]

In [34]:
get_recommendations('Small Crimes')

4057                                The Unbelievable Truth
25969                                        Lady Gangster
36531                                                 Khel
40457                     How to Hook Up Your Home Theater
9531                                                Sitcom
36063                    The Staircase II: The Last Chance
31143                                       Deadly Daycare
10996    Marilyn Hotchkiss' Ballroom Dancing & Charm Sc...
22033                                         The Conclave
19819                                          The Year 01
Name: title, dtype: object